*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    background-color: #FBFBFE;
}

/* !HEADER KISMI */

header{
    height: 10%;
    background-color: #e9e9f7;
    position: relative;
}

.header{
    position: sticky;
    z-index: 1;
}

.header ul{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;

}

header ul *{
    padding: 10px;
    font-size: 1.2rem;
    text-decoration: none;
    list-style: none;
}

header ul li a:visited{
    color: black;
}

header ul li a:hover{
    color: blue;
}

/* !HOME KISMI */

#home{
    display: flex;
    padding: 10%;
}

.homeText{
    width: 100%;
    font-size: 1.3rem;
    padding-top: 20%;
    padding-left: 10%;
}

.homeText p{
    color:    rgb(109, 106, 124);
}

.homeText *{
    padding-bottom: 1rem;
}

.homeImage{
    width: 100%;
    margin-left: 10%;
}

.homeImage img{
    width: 100%;
    padding-top: 80px;
    border-radius: 50%;
}

.socialMedia{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 2rem;
    padding-top: 30px;
}

.socialMedia a:visited{
    color: black;
}

.socialMedia a:hover{
    color: blue;
}

/* !ABOUT KISMI */

.about h1{
    text-align: center;
    font-size: 24px;
    color: rgb(36, 35, 41);
}

.about p{
    color:    rgb(109, 106, 124);
    padding: 20px 5%;
    text-align: justify;
}

.aboutExp{
    display: flex;
    gap: 5%;
    justify-content: center;
}

.aboutExp *{
    width: 100px;
}

.aboutExp p{
    text-align: center;
    padding-top: 0.5px;
}

.aboutMessage{
    width: 250px;
    height: 60px;
    margin-left: 40%;
    background-color: #6D57E0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMessage a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

/* !Experience Kısmı */

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab {
    background: #ddd;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.tab.active {
    background: #007BFF;
    color: white;
}

.timeline {
    display: none;
    border-left: 2px solid #007BFF;
    padding-left: 20px;
}

.timeline.active {
    display: block;
}

.event {
    background: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}